<div id="<%= dom_id document %>" class="border px-4 py-5 container">
  <div class="row">
    <div class="col border">
      1 Sender
      <%= document.sender %>
    </div>
    <div class="col border">
      CMR No. <%= document.cmr_number %>
    </div>
  </div>


  <div class="row">
    <div class="col border">
      2 Consignee
      <%= document.consignee %>
    </div>
    <div class="col border">
      16 Carrier
      <%= document.carrier %>
    </div>
  </div>

  <div class="row">
    <div class="col border">
      3 Place of delivery of the goods
      <%= document.place_of_delivery %>
    </div>
    <div class="col border">
      17 Successive carriers
      <%= document.successive_carrier %>
    </div>
  </div>

  <div class="row">
    <div class="col border">
      <div class="row">
        <div class="border border-start-0 border-end-0 border-top-0">
          4 Place and date of taking over the goods
          <%= document.place_and_date_of_taking_over_the_goods %>
        </div>
        <div class="border border-start-0 border-end-0 border-top-0 border-bottom-0">
          5 Documents attached
          <%= document.documents_attached %>
        </div>
      </div>

    </div>
    <div class="col border">
      18 Carrier's reservations and observations
      <%= document.carriers_reservations_and_observations %>
    </div>
  </div>


  <div class="row">
    <div class="col-8 border">
      <div class="row">
        <div class="col">6</div>
        <div class="col">7</div>
        <div class="col">8</div>
        <div class="col">9</div>
      </div>
    </div>
    <div class="border col-4">
      <div class="row">
        <div class="col-4">10</div>
        <div class="col-4">11</div>
        <div class="col-4">12</div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-8 border">
      <div class="row">
        <div class="col">Class</div>
        <div class="col">Number</div>
        <div class="col">Letter</div>
        <div class="col">9</div>
      </div>
    </div>
    <div class="border col-4">
      <div class="row">
        <div class="col-4">0</div>
        <div class="col-4">0</div>
        <div class="col-4">0</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col border">
      <div class="row">
        <div class="border">13 Sender instructions</div>
        <div class="border h-auto">14 Instruction as to payment for carriage</div>
      </div>
    </div>
    <div class="col border">
      <div class="row">
        <div class="border">19 Special agreements</div>
        <div class="border">
          20 To be paid by
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col border">
      <div class="row">
        <div class="col">21 Established in 0</div>
        <div class="col">on 01-04-2024</div>
      </div>
    </div>
    <div class="col border">15 Cash on delivery 0</div>
  </div>

  <div class="row">
    <div class="col border">22</div>
    <div class="col border">23</div>
    <div class="col border">24</div>
  </div>
</div>
