<div id="<%= dom_id document %>">
  <p>
    <%= content_tag :strong, Document.human_attribute_name(:cmr_number) %>

    <span id="cmr_number">
      <%= document.cmr_number %>
    </span>
  </p>

  <p>
    <%= content_tag :strong, Document.human_attribute_name(:sender) %>
    <%= document.sender %>
  </p>

  <p>
    <%= content_tag :strong, Document.human_attribute_name(:consignee) %>
    <span id="consignee">
    <%= document.consignee %>
    </span>
  </p>

  <p>
    <%= content_tag :strong, Document.human_attribute_name(:delivery_place) %>
    <span id="delivery_place">
    <%= document.delivery_place %>
    </span>
  </p>

  <p>
    <%= content_tag :strong, Document.human_attribute_name(:taking_over_place) %>
    <span id="taking_over_place">
    <%= document.taking_over_place %>
    </span>
  </p>

  <p>
    <%= content_tag :strong, Document.human_attribute_name(:taking_over_start_at) %>
    <%= l document.taking_over_start_at, format: :short %>
  </p>
</div>
