<div id="<%= dom_id document %>">
  <p>
    <strong>Cmr number:</strong>
    <%= document.cmr_number %>
  </p>

  <p>
    <strong>Sender 1:</strong>
    <%= document.sender_1 %>
  </p>

  <p>
    <strong>Consignee 2:</strong>
    <%= document.consignee_2 %>
  </p>

  <p>
    <strong>Delivery place 3:</strong>
    <%= document.delivery_place_3 %>
  </p>

  <p>
    <strong>Taking over place 4:</strong>
    <%= document.taking_over_place_4 %>
  </p>

  <p>
    <strong>Taking over date 4:</strong>
    <%= document.taking_over_date_4 %>
  </p>

  <p>
    <strong>Documents 5:</strong>
    <%= document.documents_5 %>
  </p>

  <p>
    <strong>Marks 6 1:</strong>
    <%= document.marks_6_1 %>
  </p>

  <p>
    <strong>Number 7 1:</strong>
    <%= document.number_7_1 %>
  </p>

  <p>
    <strong>Method 8 1:</strong>
    <%= document.method_8_1 %>
  </p>

  <p>
    <strong>Nature 9 1:</strong>
    <%= document.nature_9_1 %>
  </p>

  <p>
    <strong>Number 10 1:</strong>
    <%= document.number_10_1 %>
  </p>

  <p>
    <strong>Weight 11 1:</strong>
    <%= document.weight_11_1 %>
  </p>

  <p>
    <strong>Volume 12 1:</strong>
    <%= document.volume_12_1 %>
  </p>

  <p>
    <strong>Marks 6 2:</strong>
    <%= document.marks_6_2 %>
  </p>

  <p>
    <strong>Number 7 2:</strong>
    <%= document.number_7_2 %>
  </p>

  <p>
    <strong>Method 8 2:</strong>
    <%= document.method_8_2 %>
  </p>

  <p>
    <strong>Nature 9 2:</strong>
    <%= document.nature_9_2 %>
  </p>

  <p>
    <strong>Number 10 2:</strong>
    <%= document.number_10_2 %>
  </p>

  <p>
    <strong>Weight 11 2:</strong>
    <%= document.weight_11_2 %>
  </p>

  <p>
    <strong>Volume 12 2:</strong>
    <%= document.volume_12_2 %>
  </p>

  <p>
    <strong>Marks 6 3:</strong>
    <%= document.marks_6_3 %>
  </p>

  <p>
    <strong>Number 7 3:</strong>
    <%= document.number_7_3 %>
  </p>

  <p>
    <strong>Method 8 3:</strong>
    <%= document.method_8_3 %>
  </p>

  <p>
    <strong>Nature 9 3:</strong>
    <%= document.nature_9_3 %>
  </p>

  <p>
    <strong>Number 10 3:</strong>
    <%= document.number_10_3 %>
  </p>

  <p>
    <strong>Weight 11 3:</strong>
    <%= document.weight_11_3 %>
  </p>

  <p>
    <strong>Volume 12 3:</strong>
    <%= document.volume_12_3 %>
  </p>

  <p>
    <strong>Marks 6 4:</strong>
    <%= document.marks_6_4 %>
  </p>

  <p>
    <strong>Number 7 4:</strong>
    <%= document.number_7_4 %>
  </p>

  <p>
    <strong>Method 8 4:</strong>
    <%= document.method_8_4 %>
  </p>

  <p>
    <strong>Nature 9 4:</strong>
    <%= document.nature_9_4 %>
  </p>

  <p>
    <strong>Number 10 4:</strong>
    <%= document.number_10_4 %>
  </p>

  <p>
    <strong>Weight 11 4:</strong>
    <%= document.weight_11_4 %>
  </p>

  <p>
    <strong>Volume 12 4:</strong>
    <%= document.volume_12_4 %>
  </p>

  <p>
    <strong>Class 6:</strong>
    <%= document.class_6 %>
  </p>

  <p>
    <strong>Number 7:</strong>
    <%= document.number_7 %>
  </p>

  <p>
    <strong>Letter 8:</strong>
    <%= document.letter_8 %>
  </p>

  <p>
    <strong>Adr 9:</strong>
    <%= document.adr_9 %>
  </p>

  <p>
    <strong>Sender instructions 13:</strong>
    <%= document.sender_instructions_13 %>
  </p>

  <p>
    <strong>Carriage instructions 14:</strong>
    <%= document.carriage_instructions_14 %>
  </p>

  <p>
    <strong>Carriage paid 14:</strong>
    <%= document.carriage_paid_14 %>
  </p>

  <p>
    <strong>Carriage forward 14:</strong>
    <%= document.carriage_forward_14 %>
  </p>

  <p>
    <strong>Cash on delivery 15:</strong>
    <%= document.cash_on_delivery_15 %>
  </p>

  <p>
    <strong>Carrier 16:</strong>
    <%= document.carrier_16 %>
  </p>

  <p>
    <strong>Carriers plates 16:</strong>
    <%= document.carriers_plates_16 %>
  </p>

  <p>
    <strong>Successive carriers 17:</strong>
    <%= document.successive_carriers_17 %>
  </p>

  <p>
    <strong>Carriers reservations 18:</strong>
    <%= document.carriers_reservations_18 %>
  </p>

  <p>
    <strong>Special agreements 19:</strong>
    <%= document.special_agreements_19 %>
  </p>

  <p>
    <strong>Established in 21:</strong>
    <%= document.established_in_21 %>
  </p>

  <p>
    <strong>Established in date 21:</strong>
    <%= document.established_in_date_21 %>
  </p>

</div>
