<div id="<%= dom_id document %>">
  <p>
    <%= content_tag :strong, Document.human_attribute_name(:cmr_number) %>

    <span id="cmr_number">
      <%= document.cmr_number %>
    </span>
  </p>

  <p>
    <%= content_tag :strong, Document.human_attribute_name(:sender_1) %>
    <%= document.sender_1 %>
  </p>

  <p>
    <%= content_tag :strong, Document.human_attribute_name(:consignee_2) %>
    <span id="consignee_2">
    <%= document.consignee_2 %>
    </span>
  </p>

  <p>
    <%= content_tag :strong, Document.human_attribute_name(:delivery_place_3) %>
    <span id="delivery_place_3">
    <%= document.delivery_place_3 %>
    </span>
  </p>

  <p>
    <%= content_tag :strong, Document.human_attribute_name(:taking_over_place_4) %>
    <span id="taking_over_place_4">
    <%= document.taking_over_place_4 %>
    </span>
  </p>

  <p>
    <%= content_tag :strong, Document.human_attribute_name(:taking_over_at_4) %>
    <%= l document.taking_over_at_4, format: :short %>
  </p>
</div>
