<div id="<%= dom_id document %>">
  <p>
    <strong>Cmr number:</strong>
    <%= document.cmr_number %>
  </p>

  <p>
    <strong>Sender:</strong>
    <%= document.sender %>
  </p>

  <p>
    <strong>Consignee:</strong>
    <%= document.consignee %>
  </p>

  <p>
    <strong>Place of delivery:</strong>
    <%= document.place_of_delivery %>
  </p>

  <p>
    <strong>Place and date of taking over the goods:</strong>
    <%= document.place_and_date_of_taking_over_the_goods %>
  </p>

  <p>
    <strong>Documents attached:</strong>
    <%= document.documents_attached %>
  </p>

  <p>
    <strong>Sender instructions:</strong>
    <%= document.sender_instructions %>
  </p>

  <p>
    <strong>Instructions as to payment for carriage:</strong>
    <%= document.instructions_as_to_payment_for_carriage %>
  </p>

  <p>
    <strong>Cod:</strong>
    <%= document.cod %>
  </p>

  <p>
    <strong>Carriage:</strong>
    <%= document.carriage %>
  </p>

  <p>
    <strong>Successive carrier:</strong>
    <%= document.successive_carrier %>
  </p>

  <p>
    <strong>Carriers reservations and observations:</strong>
    <%= document.carriers_reservations_and_observations %>
  </p>

  <p>
    <strong>Special agreements:</strong>
    <%= document.special_agreements %>
  </p>

  <p>
    <strong>To be paid by:</strong>
    <%= document.to_be_paid_by %>
  </p>

  <p>
    <strong>Established in:</strong>
    <%= document.established_in %>
  </p>

  <p>
    <strong>Established on:</strong>
    <%= document.established_on %>
  </p>

  <p>
    <strong>Signature of the sender:</strong>
    <%= document.signature_of_the_sender %>
  </p>

  <p>
    <strong>Signature of the carrier:</strong>
    <%= document.signature_of_the_carrier %>
  </p>

  <p>
    <strong>Signature of the consignee:</strong>
    <%= document.signature_of_the_consignee %>
  </p>

</div>
