<%= content_tag :h1, "CMR #{document.cmr_number}" %>

<div class="border p-2">
  <%= content_tag :h5, Document.human_attribute_name(:sender) %>
  <%= simple_format document.sender.presence || "Brak danych" %>
</div>

<div class="border p-2">
  <%= content_tag :h5, Document.human_attribute_name(:consignee) %>
  <%= document.consignee.presence || "Brak danych"  %>
</div>

<div class="border p-2">
  <%= content_tag :h5, Document.human_attribute_name(:delivery_place) %>
  <%= document.delivery_place.presence || "Brak danych"  %>
</div>

<div class="border p-2">
  <%= content_tag :h5, Document.human_attribute_name(:taking_over_place) %>
  <%= document.taking_over_place.presence || "Brak danych"  %>
</div>

<div class="border p-2">
  <%= content_tag :h5, Document.human_attribute_name(:taking_over_start_at) %>
  <%= l document.taking_over_start_at, format: :short %>
</div>

<div class="border p-2">
  <%= content_tag :h5, Document.human_attribute_name(:sender_signature) %>
  <%= simple_format document.sender_signature %>
</div>
