
<%= simple_form_for(@document) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :cmr_number %>
    <%= f.input :sender %>
    <%= f.input :consignee %>
    <%= f.input :place_of_delivery %>
    <%= f.input :place_and_date_of_taking_over_the_goods %>
    <%= f.input :documents_attached %>
    <%= f.input :sender_instructions %>
    <%= f.input :instructions_as_to_payment_for_carriage %>
    <%= f.input :cod %>
    <%= f.input :carriage %>
    <%= f.input :successive_carrier %>
    <%= f.input :carriers_reservations_and_observations %>
    <%= f.input :special_agreements %>
    <%= f.input :to_be_paid_by %>
    <%= f.input :established_in %>
    <%= f.input :established_on %>
    <%= f.input :signature_of_the_sender %>
    <%= f.input :signature_of_the_carrier %>
    <%= f.input :signature_of_the_consignee %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
