<!DOCTYPE html>
<html>
  <head>
    <title>Argoksh</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
  <%= render NavbarComponent.new(current_user:) %>

  <div class="container">
    <% if notice %>
      <p class="alert alert-primary"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
  </div>

  <script src="https://kit.fontawesome.com/f6bf98163c.js" crossorigin="anonymous"></script>
  </body>
</html>
